{{#each sections}}
	<fieldset data-group="{{@key}}">
		<legend>{{@key}}</legend>
        {{#each this}}
			<div>
				<input type="checkbox" name="{{this}}" id="{{this}}"/>
				<label for="{{this}}">{{this}}</label>
			</div>
        {{/each}}
	</fieldset>
{{/each}}